.btn-meet-lg{

	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #ffffff;
	border-radius: 2rem;
	background-color: #c9b2a4;
	color: #fff;
	font: 900 0.875rem/0 "Cairo", sans-serif;
	font-family: "Cairo", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

body{
		background: linear-gradient(0deg, rgba(252,239,232,1) 0%, rgba(237,212,199,1) 100%);


}
