{% extends "_base.html" %}
{% load static %}
{% block title %}استبيان{% endblock %}
{% block content %}
<html lang="en" dir="rtl">
  <head>

    <!-- Styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">
          <link href="{% static 'css/btn.css' %}" rel="stylesheet">


    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
       <div class="container">
          <!-- Image Logo -->
          <a class="navbar-brand logo-image" href="{% url 'index' %}">
          <img src= {% static 'images/logo.png' %} alt="alternative"></a>
          <span class="nav-item">
            <a class="btn-outline-sm" href="{% url 'logout' %}">سجل خروجك</a>
          </span>
       </div>
       </div>
       <!-- end of container -->
    </nav>
</head>
    <!-- Header -->
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1> انشئ اجتماع جديد</h1>
                <div class="form-container">
                        <form  class="ui form {% if form.errors %}error{% endif %}" method="post">
                {% csrf_token %}
                
                <div class="field {% if form.title.errors %}error{% endif %}">{{ form.title }}</div>

                <div class="grouped fields">
                    <label>فضلا اختر مكان الاجتماع</label>
                    <div class="field {% if form.q1option1.errors %}error{% endif %}">{{ form.q1option1 }}</div>
                    <div class="field {% if form.q1option2.errors %}error{% endif %}">{{ form.q1option2 }}</div>
                </div>
                <div class="grouped fields">
                    <label>فضلا اختر وقت الاجتماع</label>
                    <div class="field {% if form.q2option1.errors %}error{% endif %}">{{ form.q2option1 }}</div>
                    <div class="field {% if form.q2option2.errors %}error{% endif %}">{{ form.q2option2 }}</div>
                </div>                
                <div class="grouped fields">
                    <label>فضلا اختر تاريخ الاجتماع</label>
                    <div class="field {% if form.q3option1.errors %}error{% endif %}">{{ form.q3option1 }}</div>
                    <div class="field {% if form.q3option2.errors %}error{% endif %}">{{ form.q3option2 }}</div>
                </div>                
                <div class="grouped fields">
                    <label> هل ستحضر الاجتماع</label>
                    <div class="field {% if form.q4option1.errors %}error{% endif %}">{{ form.q4option1 }}</div>
                    <div class="field {% if form.q4option2.errors %}error{% endif %}">{{ form.q4option2 }}</div>
                </div>
                <button type="submit" class="btn-meet-lg">انشاء</button>
                <a href="{% url 'survey:survey-list' %}"> <div class="btn-meet-lg">الغاء</div></a>
                <div class="ui message error">
                    <div class="header">We had some issues</div>
                    <ul class="list">
                        {% for field in form %}
                            {% for error in field.errors %}<li>{{ field.label_tag }} {{ error }}</li>{% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </div>
            </div>
    </header>

    </body>
    <script src="{% static 'js/jquery.min.js' %} "></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
<script src="{% static 'js/jquery.magnific-popup.js' %} "></script> <!-- Magnific Popup for lightboxes -->
<script src="{% static 'js/validator.min.js' %} "></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="{% static 'js/scripts.js' %} "></script> <!-- Custom scripts -->
{% endblock %}
</html>