{% extends "_base.html" %}
{% load static %}

{% block title %}شكرا{% endblock %}

{% block content %}
    <head>


 <!-- Styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link href="{% static 'css/btn.css' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">

    <style>
        body h1,h2,h3,h4{
		font-family: "Cairo", sans-serif;
        color: rgb(95, 91, 91);
        }
    </style>
</head>

    <body>



<div class="ui center aligned basic very padded segment">
    <h1 > شكرا لمشاركتك في
        <b style="color: #0b0b0b">{{ survey.title }}</b>
    </h1>
    <br><br>
        <a href="{% url 'guest' %}">
            <div class="btn-meet-lg">رجوع</div>
        </a>
</div> </body>
{% endblock %}