{% load static %}
<head>

    <!-- Styles -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap" rel="stylesheet">
          <link href="{% static 'css/btn.css' %}" rel="stylesheet">

    <style>
        body p{

          font-size: 25px;
            font: 400 2rem/23.625rem 'Cairo', sans-serif;
	text-align: center;

        }


    </style>
</head>
<body>

{% if request.user.is_authenticated %}
    <div style='margin-top:30px;'>
        <form method='POST'>{% csrf_token %}
            <button type='submit'>logout.</button>
        </form>
    </div>
{% else %}

  <p> انت لم تسجل الدخول, هل ترغب في <a href="{% url 'login_view' %}">تسجيل الدخول </a></p>

{% endif %}
</body>
